
   /* Post display */
   .post-container{
    display: flex;
    gap: .5em;
  }
  .post-display{
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    width: 25%;
    border: 3px solid black;
    margin-top: 1.5em;
    border-radius: 2em;
  }

  .post-display a{
    text-align: center;
  }

  .post-header-container {
    background-color:lightgray;
    width: 30%;
    margin-left: 40em;
    border: 2px solid black;
    margin-top: 1em;
    border-radius: 2em;
  }
  .post-header-container h1{
    text-align: center;
  }
