/* Styles for screens smaller than or equal to 600px */
@media (max-width: 600px) {
  /* CSS rules for small screens */
  /* Contact page- this is from https://snippets.wrappixel.com/simple-contact-us-form/ */ 
.contact-container{
  display: flex;
}

.contact-container form{
  display: flex;
  flex-direction: column;
  gap: 2em;
  position: absolute;
  right: 30%;
  top: 20%;
  background-color: lightgray;
  padding: 4em;
  border: 2px solid black;
  border-radius: 2em;
  box-shadow: 2px 10px gray;
}

.contact-name-container{
  display: flex;
  gap: 1.5em;
}

.contact-email-container{
  display: flex;
  gap: 1.5em;
}

.contact-message-container{
  display: flex;
  gap: 1.10em;
}

.contact-name-container label{
  font-weight: bold;
}

.contact-email-container label{
  font-weight: bold;
}

.contact-message-container label{
  font-weight: bold;
}
}

/* Styles for screens between 601px and 900px */
@media (min-width: 601px) and (max-width: 900px) {
  /* CSS rules for medium screens */
  /* Contact page- this is from https://snippets.wrappixel.com/simple-contact-us-form/ */ 
.contact-container{
  display: flex;
}

.contact-container form{
  display: flex;
  flex-direction: column;
  gap: 2em;
  position: absolute;
  right: 30%;
  top: 20%;
  background-color: lightgray;
  padding: 4em;
  border: 2px solid black;
  border-radius: 2em;
  box-shadow: 2px 10px gray;
}

.contact-name-container{
  display: flex;
  gap: 1.5em;
}

.contact-email-container{
  display: flex;
  gap: 1.5em;
}

.contact-message-container{
  display: flex;
  gap: 1.10em;
}

.contact-name-container label{
  font-weight: bold;
}

.contact-email-container label{
  font-weight: bold;
}

.contact-message-container label{
  font-weight: bold;
}
}

/* Styles for screens larger than 900px */
@media (min-width: 901px) {
  /* CSS rules for large screens */
  /* Contact page- this is from https://snippets.wrappixel.com/simple-contact-us-form/ */ 
.contact-container{
  display: flex;
}

.contact-container form{
  display: flex;
  flex-direction: column;
  gap: 2em;
  position: absolute;
  right: 30%;
  top: 20%;
  background-color: lightgray;
  padding: 4em;
  border: 2px solid black;
  border-radius: 2em;
  box-shadow: 2px 10px gray;
}

.contact-name-container{
  display: flex;
  gap: 1.5em;
}

.contact-email-container{
  display: flex;
  gap: 1.5em;
}

.contact-message-container{
  display: flex;
  gap: 1.10em;
}

.contact-name-container label{
  font-weight: bold;
}

.contact-email-container label{
  font-weight: bold;
}

.contact-message-container label{
  font-weight: bold;
}
}