 /* Home */
    
 .float-left{
    text-align: center;
    float: left;
    width: 41.5%;
    border: 2px solid black;
    border-radius: 2em;
    margin-top: 1.5em;
    background-color: rgb(170, 167, 167);
    box-shadow: 2px 5px gray;
    position: absolute;
    left: 3em;
   
}
.float-right{
    text-align: center;
   float: right;
   width: 48%;
   border: 2px solid black;
   border-radius: 2em;
   margin-top: 1.5em;
   background-color: rgb(163, 159, 159);
   box-shadow: 2px 5px gray;
   position: absolute;
   right: 3em;
   
}

.float-left img{
    width: 70%;
    margin-right: 0%;
    border: 2px solid black;
    border-radius: 3em;
}

.float-right img{
    width: 95%;
    padding-top: 2em;
    padding-bottom: 5em;
  
}
