/* .default-container{
  display: flex;
} */


 /* Styles for screens smaller than or equal to 600px */
@media (max-width: 600px) {
  /* CSS rules for small screens */
  /* Nav component */
.nav-container-unprotected{
  display: flex;
  /* justify-content: left; */
  flex-direction: row;
  background-color: gray;
  border: 4px solid black;
 }
 .nav-container-protected{
  display: flex;
  /* justify-content: left; */
  flex-direction: row;
  background-color: gray;
  border: 4px solid black;
 }
.nav-link{
  width: 100%;
}
.nav-link-container-unprotected{
display: flex;
flex-direction: row;
gap: 2.5em;
margin: 1em;
}

.nav-link-container-protected{
  display: flex;
  flex-direction:column;
  gap: 2.5em;
  margin: 1em;
  width: 36%;
  }
.nav-link a{
background-color: lightgray;
border: 2px solid black;
border-radius: 6px;
font-size: 1em;
text-decoration: none;
padding: 2px;
width: 100%;
color: green;
}

.nav-link a:hover{
  background-color: black;
  color: green;
}

.login-unprotected{
  display: flex;
  gap: 1em;
  margin: .5em;
  text-align: left;
  padding-left: 39%;
  margin-top: 1.15em;
}
.login-protected{
  display: flex;
  gap: 1em;
  margin: .5em;
  text-align: right;
  padding-left: 39%;
  
}
.nav-link-right{
  font-size: 1em;
}
.nav-link-right a{
  color: black;
  text-decoration: none;
}
.nav-link-right a{
  color: black;
  text-decoration: none;
}
.nav-link-right a:hover{
  color: green;
  background-color: whitesmoke;
  border: 2px solid black;
  border-radius: .25em;
  margin: .75em;
  font-size: 1.05em;
}

/* Footer Component */
.footer-container{
  display: flex;
  position: fixed;
  bottom: 0;
  background-color: lightgray;
  width: 100%;
  border: 4px solid black;
  gap: 2em;
  }
  .footer-container a{
    text-decoration: none;
    color: green;
  }

.social-links-codewars{
width: 12%;
}

.social-links-github{
  width: 15%;
}

.social-links-linkedin{
  width: 15%;
}

.social-links-github img{
width: 13%;
margin: 1.25em;
}
.social-links-linkedin img{
  width: 12%;
  margin: 1.25em;
}
.social-links-codewars img{
  width: 13%;
  margin: 1.25em;
}

.social-links-codewars span{
  font-size: .75em;
  position: absolute;
  top: 1.65em;
}
.social-links-github span{
  font-size: .75em;
  position: absolute;
  top: 1.65em;
}
.social-links-linkedin span{
  font-size: .75em;
  text-decoration: none;
  position: absolute;
  top: 1.65em;
}
.social-links-linkedin:hover{
background-color: chartreuse;
}
.social-links-github:hover{
  background-color: chartreuse;
}
.social-links-codewars:hover{
  background-color: chartreuse;
}


/* Logout input */
.logout-input{
  background-color: whitesmoke;
  color: green;
  font-size: 1em;
  border-radius: 3em;
  font-weight: bold;
  }
  
  .logout-input:hover{
  background-color: black;
  font-size: .75em;
  }
}
/* /////////////////////////////////////////////////////////////////////// */
/* Styles for screens between 601px and 899px */
@media (min-width: 601px) and (max-width: 899px) {
  /* CSS rules for medium screens */
  /* Nav component */
.nav-container-protected{
  display: flex;
  justify-content: left;
  background-color: gray;
  border: 4px solid black;
 }

.nav-link-container-protected{
display: flex;
gap: 2em;
margin: 1.5em;
}

.nav-link a{
background-color: lightgray;
border: 2px solid black;
border-radius: 6px;
font-size: 23px;
text-decoration: none;
padding: 2px;
color: green;
}

.nav-link a:hover{
  background-color: black;
  color: green;
}

.login-protected{
  display: flex;
  gap: 1em;
  margin: .5em;
  text-align: right;
  margin-top: 1.5em;
}

.nav-link-right{
  font-size: 1.65em;
}
.nav-link-right a{
  color: black;
  text-decoration: none;
}
.nav-link-right a{
  color: black;
  text-decoration: none;
}
.nav-link-right a:hover{
  color: green;
  background-color: whitesmoke;
  border: 2px solid black;
  border-radius: .25em;
  margin: .75em;
  font-size: 1.05em;
}

/* Footer Component */
.footer-container{
  display: flex;
  position: fixed;
  bottom: 0;
  background-color: lightgray;
  width: 100%;
  border: 4px solid black;
  }
  .footer-container a{
    text-decoration: none;
    color: green;
  }

.social-links-codewars{
width: 33.3%;
}

.social-links-github{
  width: 33.3%;
}

.social-links-linkedin{
  width: 33.3%;
}

.social-links-github img{
width: 13%;
margin: 1.25em;
}
.social-links-linkedin img{
  width: 12%;
  margin: 1.25em;
}
.social-links-codewars img{
  width: 13%;
  margin: 1.25em;
}

.social-links-codewars span{
  font-size: 2em;
  position: absolute;
  top: 1.5em;
}
.social-links-github span{
  font-size: 2em;
  position: absolute;
  top: 1.5em;
}
.social-links-linkedin span{
  font-size: 2em;
  text-decoration: none;
  position: absolute;
  top: 1.5em;
}
.social-links-linkedin:hover{
background-color: chartreuse;
}
.social-links-github:hover{
  background-color: chartreuse;
}
.social-links-codewars:hover{
  background-color: chartreuse;
}


/* Logout input */
.logout-input{
background-color: whitesmoke;
color: green;
font-size: .65em;
border-radius: 2em;
position: relative;
left: 35em;
font-weight: bold;
}

.logout-input:hover{
background-color: black;
font-size: .75em;
}
}

/* Styles for screens extra large more than 901px */
@media (min-width: 901px){
  /* CSS rules for large screens */
  /* Nav component */
.nav-container-protected{
  display: flex;
  justify-content: left;
  background-color: gray;
  border: 4px solid black;
 }
 .nav-container-unprotected{
  display: flex;
  justify-content: left;
  gap: 1em;
  background-color: gray;
  border: 4px solid black;
 }
.nav-link-container-protected{
display: flex;
gap: 2em;
margin: 1.5em;
}
.nav-link-container-unprotected{
  display: flex;
  margin: 1.5em;
  }
.login-unprotected{
 padding-left: 90em;
  }
.nav-link a{
background-color: lightgray;
border: 2px solid black;
border-radius: 6px;
font-size: 23px;
text-decoration: none;
padding: 2px;
color: green;
}

.nav-link a:hover{
  background-color: black;
  color: green;
}

.login-protected{
  display: flex;
  gap: .75em;
  margin: .5em;
  text-align: right;
  margin-top: .5em;
}
.login-protected input:hover{
 font-size: .68em;
}
.login-unprotected{
  display: flex;
  gap: 1em;
  text-align: right;
  margin-top: 1.5em;
}

.nav-link-right{
  font-size: 1.65em;
}
.nav-link-right a{
  color: black;
  text-decoration: none;
}
.nav-link-right a{
  color: black;
  text-decoration: none;
}
.nav-link-right a:hover{
  color: green;
  background-color: whitesmoke;
  border: 2px solid black;
  border-radius: .25em;
  margin: .75em;
  font-size: 1.05em;
}

/* Footer Component */
.footer-container{
  display: flex;
  position: fixed;
  bottom: 0;
  background-color: lightgray;
  width: 100%;
  border: 4px solid black;
  }
  .footer-container a{
    text-decoration: none;
    color: green;
  }

.social-links-codewars{
width: 33.3%;
}

.social-links-github{
  width: 33.3%;
}

.social-links-linkedin{
  width: 33.3%;
}

.social-links-github img{
width: 13%;
margin: 1.25em;
}
.social-links-linkedin img{
  width: 12%;
  margin: 1.25em;
}
.social-links-codewars img{
  width: 13%;
  margin: 1.25em;
}

.social-links-codewars span{
  font-size: 2em;
  position: absolute;
  top: 1.5em;
}
.social-links-github span{
  font-size: 2em;
  position: absolute;
  top: 1.5em;
}
.social-links-linkedin span{
  font-size: 2em;
  text-decoration: none;
  position: absolute;
  top: 1.5em;
}
.social-links-linkedin:hover{
background-color: chartreuse;
}
.social-links-github:hover{
  background-color: chartreuse;
}
.social-links-codewars:hover{
  background-color: chartreuse;
}


/* Logout input */
.logout-input{
background-color: whitesmoke;
color: green;
font-size: .65em;
border-radius: 2em;
margin-top: 1.45em;
position: relative;
left: 3em;
font-weight: bold;
}
.nav-link-right span{
 padding-left: 38em;
}

.logout-input:hover{
background-color: black;
font-size: .75em;
}
}
