
.login-container{
    text-align: center;
    display: flex;
    margin-top: 10%;
    justify-content: center;
 }
 
 .login-container form{
     display: flex;
     flex-direction: column;
     gap: 2em;
     background-color: lightgray;
     width: 20%;
     padding: 2em;
     border: 2px solid black;
     box-shadow: 2px 10px gray;
     border-radius: 1.5em;
 }
 
 .username label{
    padding-right: 2em; 
    font-weight: bold;
 }
 .password label{
     padding-right: 2em; 
     font-weight: bold;
  }

  .username input{
    border: 2.5px solid black;
  }
  .password input{
     border: 2.5px solid black;
   }
   .submit input[value="Sign In"]{
    background-color: greenyellow;
    color: black;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 2em;
  }

  .submit input[value="Sign In"]:hover{
    font-size: larger;
  }